{
  "swagger": "2.0",
  "info": {
    "title": "Certification",
    "description": "This is an certification for all my certification entries. I use a single certification system to manage all my sites. Based upon tagging, I then publish each post out to its respective Github Page based repo.",
    "termsOfService": "http://stack.network/terms-of-service.html",
    "version": "v2"
  },
  "host": "certification.api.kinlane.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/certification/": {
      "get": {
        "summary": "all certifications",
        "description": "all certifications",
        "operationId": "getCertifications",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "description": "a text query to search across certification",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "certification response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Certification"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add a certification post",
        "description": "add a certification post",
        "operationId": "addCertification",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the certification was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the certification originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the certification",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "certification response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Certification"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/certification/published/": {
      "get": {
        "summary": "published certifications",
        "description": "published certifications",
        "operationId": "getPublishedCertifications",
        "parameters": [
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Certification Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Certification"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/certification/{certification_id}/": {
      "get": {
        "summary": "Retrieve a certification using its slug",
        "description": "Returns the certification detail",
        "operationId": "getCertification",
        "parameters": [
          {
            "name": "certification_id",
            "in": "path",
            "description": "the unique id for certification entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "certification response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Certification"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "put": {
        "summary": "update certification",
        "description": "update certification",
        "operationId": "updateCertification",
        "parameters": [
          {
            "name": "certification_id",
            "in": "path",
            "description": "the unique id for certification entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "post_date",
            "in": "query",
            "description": "date the certification was posted",
            "required": true,
            "type": "string"
          },
          {
            "name": "title",
            "in": "query",
            "description": "ttle for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "author",
            "in": "query",
            "description": "author of the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "summary",
            "in": "query",
            "description": "summary for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "query",
            "description": "full text for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "footer",
            "in": "query",
            "description": "curated id the certification originated from",
            "required": true,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status of the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "curated_id",
            "in": "query",
            "description": "full text for the certification",
            "required": true,
            "type": "integer",
            "format": "id"
          }
        ],
        "responses": {
          "200": {
            "description": "certification response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Certification"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "delete": {
        "summary": "delete certification",
        "description": "delete certification",
        "operationId": "deleteCertification",
        "parameters": [
          {
            "name": "certification_id",
            "in": "path",
            "description": "the unique id for certification entry",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "certification response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Certification"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/certification/{certification_id}/tags/": {
      "get": {
        "summary": "certification tags",
        "description": "certification tags",
        "operationId": "getcertificationTags",
        "parameters": [
          {
            "name": "certification_id",
            "in": "path",
            "description": "id for certification",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Certification Tags Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      },
      "post": {
        "summary": "add tag to certification",
        "description": "add tag to certification",
        "operationId": "addCertificationTag",
        "parameters": [
          {
            "name": "certification_id",
            "in": "path",
            "description": "id for the certification",
            "required": true,
            "type": "integer",
            "format": "id"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "tag name",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Certification Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/certification/{certification_id}/tags/{tag}": {
      "delete": {
        "summary": "delete certification tag",
        "description": "delete certification tag",
        "operationId": "deletecertificationTag",
        "parameters": [
          {
            "name": "certification_id",
            "in": "path",
            "description": "id for the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appid",
            "in": "query",
            "description": "your appid for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "appkey",
            "in": "query",
            "description": "your appkey for accessing the certification",
            "required": true,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag to remove from certification",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Certification Tag Response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/tag"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    },
    "/certification/tags/{tag}/certification/": {
      "get": {
        "summary": "certification tags by week certifications",
        "description": "certification tags by week certifications",
        "operationId": "getCertificationTagCCertification",
        "parameters": [
          {
            "name": "tag",
            "in": "path",
            "description": "the tag to filter by",
            "required": true,
            "type": "string"
          },
          {
            "name": "week",
            "in": "query",
            "description": "the week to filter by, defaults to this week",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Certification Tag BLog Responsee",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/certification"
              }
            }
          }
        },
        "tags": [
          "Tags"
        ],
        "security": [
          {
            "appid": []
          },
          {
            "appkey": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "appid": {
      "type": "apiKey",
      "name": "appid",
      "in": "query"
    },
    "appkey": {
      "type": "apiKey",
      "name": "appkey",
      "in": "query"
    }
  },
  "definitions": {
    "certification": {
      "properties": {
        "certification_id": {
          "description": "unique id of the certification",
          "type": "integer",
          "format": "id"
        },
        "post_date": {
          "description": "date the certification was posted",
          "type": "string"
        },
        "title": {
          "description": "title for the certification",
          "type": "string"
        },
        "author": {
          "description": "author of the certification",
          "type": "string"
        },
        "summary": {
          "description": "summary for the certification",
          "type": "string"
        },
        "body": {
          "description": "full body text of the certification",
          "type": "string"
        },
        "footer": {
          "description": "footer text for the certification",
          "type": "string"
        },
        "status": {
          "description": "status of the certification",
          "type": "string"
        },
        "curated_id": {
          "description": "curated id the certification originated from",
          "type": "integer",
          "format": "id"
        }
      }
    },
    "tag": {
      "properties": {
        "tag_id": {
          "description": "id for the tag",
          "type": "integer",
          "format": "id"
        },
        "tag": {
          "description": "text tag",
          "type": "string"
        },
        "api_count": {
          "description": "number of items api with tag",
          "type": "integer"
        }
      }
    }
  }
}
